export(as)
exportClasses(DAVIDCluster)
exportClasses(DAVIDFunctionalAnnotationChart)
exportClasses(DAVIDFunctionalAnnotationTable)
exportClasses(DAVIDGODag)
exportClasses(DAVIDGeneCluster)
exportClasses(DAVIDGenes)
exportClasses(DAVIDResult)
exportClasses(DAVIDTermCluster)
exportMethods(DAVIDFunctionalAnnotationChart)
exportMethods(DAVIDFunctionalAnnotationTable)
exportMethods(DAVIDGODag)
exportMethods(DAVIDGeneCluster)
exportMethods(DAVIDGenes)
exportMethods(DAVIDTermCluster)
exportMethods(addList)
exportMethods(benjaminis)
exportMethods(bonferronis)
exportMethods(categories)
exportMethods(cluster)
exportMethods(connect)
exportMethods(counts)
exportMethods(dictionary)
exportMethods(duplicateIds)
exportMethods(enrichment)
exportMethods(fdrs)
exportMethods(foldEnrichments)
exportMethods(genes)
exportMethods(getAllAnnotationCategoryNames)
exportMethods(getAnnotationSummary)
exportMethods(getBackgroundListNames)
exportMethods(getClusterReport)
exportMethods(getClusterReportFile)
exportMethods(getCurrentBackgroundListPosition)
exportMethods(getCurrentGeneListPosition)
exportMethods(getCurrentSpeciesPosition)
exportMethods(getDefaultCategoryNames)
exportMethods(getEmail)
exportMethods(getFunctionalAnnotationChart)
exportMethods(getFunctionalAnnotationChartFile)
exportMethods(getFunctionalAnnotationTable)
exportMethods(getFunctionalAnnotationTableFile)
exportMethods(getGeneCategoriesReport)
exportMethods(getGeneListNames)
exportMethods(getGeneListReport)
exportMethods(getGeneListReportFile)
exportMethods(getHttpProtocolVersion)
exportMethods(getIdTypes)
exportMethods(getListName)
exportMethods(getSpecieNames)
exportMethods(getStub)
exportMethods(getTimeOut)
exportMethods(ids)
exportMethods(initialize)
exportMethods(is.connected)
exportMethods(listTotals)
exportMethods(members)
exportMethods(membership)
exportMethods(percentages)
exportMethods(plot2D)
exportMethods(popHits)
exportMethods(popTotals)
exportMethods(setAnnotationCategories)
exportMethods(setCurrentBackgroundPosition)
exportMethods(setCurrentGeneListPosition)
exportMethods(setCurrentSpecies)
exportMethods(setEmail)
exportMethods(setHttpProtocolVersion)
exportMethods(setTimeOut)
exportMethods(show)
exportMethods(species)
exportMethods(subset)
exportMethods(summary)
exportMethods(terms)
exportMethods(type)
exportMethods(uniqueIds)
exportMethods(universeCounts)
exportMethods(universeMappedCount)
exportMethods(upsideDown)
exportPattern('^[^\\.]')
importClassesFrom(GOstats,GOHyperGResult)
importClassesFrom(graph,graphNEL)
importFrom(methods,as)
import(rJava)
import(Category)
import(GO.db)
import(RBGL)
import(ggplot2)
